<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:int-ip="http://www.springframework.org/schema/integration/ip"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/integration
		http://www.springframework.org/schema/integration/spring-integration.xsd
		http://www.springframework.org/schema/integration/ip
		http://www.springframework.org/schema/integration/ip/spring-integration-ip.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/task
		http://www.springframework.org/schema/task/spring-task.xsd">

	<bean id="myTaskExecutor" class="org.springframework.integration.util.CompositeExecutor">
		<constructor-arg>
			<bean class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
				<property name="threadNamePrefix" value="io-" />
				<property name="corePoolSize" value="4" />
				<property name="maxPoolSize" value="8" />
				<property name="queueCapacity" value="10" />
				<property name="rejectedExecutionHandler">
					<bean class="org.springframework.integration.util.CallerBlocksPolicy">
						<constructor-arg value="10000" />
					</bean>
				</property>
			</bean>
		</constructor-arg>
		<constructor-arg>
			<bean class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
				<property name="threadNamePrefix" value="assembler-" />
				<property name="corePoolSize" value="4" />
				<property name="maxPoolSize" value="10" />
				<property name="queueCapacity" value="10" />
				<property name="rejectedExecutionHandler">
					<bean class="org.springframework.integration.util.CallerBlocksPolicy">
						<constructor-arg value="10000" />
					</bean>
				</property>
			</bean>
		</constructor-arg>
	</bean>
	 
	<int-ip:tcp-connection-factory id="serverTcpConFact"
		type="server"
		port="60000"
		using-nio="true"
		single-use="false"
		so-timeout="300000"
		task-executor="myTaskExecutor" />

	<int-ip:tcp-inbound-channel-adapter id="tcpInboundAdapter"
		channel="tcpInbound"
		connection-factory="serverTcpConFact" />

	<int:channel id="tcpInbound" />

	<int:service-activator input-channel="tcpInbound"
		ref="myService"
		method="test" />

	<bean id="myService" class="org.test.tcpserver.MyService" />

</beans>
